/*reset inicial*/

body,h1,h2,h3,h4,ul,li,a,img,p,div,label,input,table,tr,td{
  padding:0;
  margin:0;
}
body{
  font-size:100%;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
h1, h2, h3 {
  color: #222;
}
a{
  text-decoration:none;
  color:#272727;
}
h1 a{color:#000;}
li{
  list-style-type:none;
}

/* General Styles
------------------------------------------------------------------------ */
body{
  background-repeat: repeat-x;
}
.header{
  padding-bottom:10px;
}
.page h2{
  width:95%;
  margin-bottom:5px; 
  border-bottom:1px solid #F3A22A;
}
.page p{
  width:95%;
  margin-bottom:20px; 
}
h3{
  margin-bottom:18px;
  font:bold 1.125em Arial, sans-serif; /*18px/16px*/
}
h4{font:bold 1em Arial, sans-serif; /*16px/16px*/}
h4 a{
  font-weight:normal;
  font-size:.75em;/*12/16 =*/ 
  text-transform:uppercase;
}
.aside h2{
  margin-bottom:5px;
  border-bottom:none;  
}
.aside .skills ul li {
  overflow:hidden;
  height:28px;
  line-height:28px;
}
.aside .skills ul li img {
  float:right;
  clear:right;
}
.aside .skills ul li img.small{
  margin-right:30px;
  /* margin-right:16.190476190476190476%;*/ /*34px/210px */
}
.aside .last{
  margin-bottom:20px;  
}
.aside .links li{
  display:inline;
}
.course_container{margin-left:3%;}
.course_container.last{margin-bottom:30px;}
.course_container img{
  float:left;
  vertical-align:center;
  margin-right:10px;
  height:18px;
}
.course_container p{margin-left:28px}
.three_column{
  overflow:hidden;
  margin-left:3%;
}
.three_column li{
  float:left;
  display:inline;
  width:150px;
  margin-right:3%;
  margin-bottom:10px;
}
.three_column h4{
  text-align:center;
  margin-bottom:10px;
}
.thumb{
  border:4px solid #dcd9d2; /*para hover probar #83c0f8*/
  border-radius:4px;  
}
.footer{
  clear:both;
}
.footer p{
  text-align:center;
  color:#221606;
  font:normal .75em Arial, sans-serif; /*12px/16px*/
}
a{
  color:#A66300;
}
/* smartphone e iphone landscape
------------------------------------------------------------------------ */

@media only screen and (max-width: 734px) {
  body{
    background-image:url(../img/background_2.png);
  }
  #wrapper{
    margin:10px auto;
    width:90%;
  }
  .header{
    margin-bottom:20px;
  }
  h1{
    font:normal 2.25em "adelle", Georgia, serif; /*36px/16px*/
  }  
  .header h2{
    font:italic 1.375em "adelle", Georgia, serif; /*22px/16px*/ 
  }  
  .page h2{
    font:normal 1.125em "adelle", Arial, sans-serif; /*18px/16px*/
    line-height: 1.22222222222222222222em; /*22px/18px*/
  }
  .page p{
    font:normal .75em Arial, sans-serif; /*12px/16px*/ 
    line-height: 1.5em;   
  }
  .aside{ 
    margin-bottom:20px;
  }
  .aside h2{
    font:bold 1.375em "adelle", Arial, sans-serif; /*22px/16px*/
  }
  .skills{
    width:30%;
  }  
  .footer{margin-top:20px;}
}

/*Ajuste para .skills y h4 a en pantallas pequeñas
-------------------------------------------------------------------------*/
@media only screen and (max-width: 530px){
  .skills{width:46%;}  
  h4 a{
    display:block;
    margin-left:28px;
    }
}

/* Desktop y tablets
------------------------------------------------------------------------ */

@media screen and (min-width: 735px) {
  
  body{
    background-image:url(../img/background.png);
  }

  #wrapper{
    margin:30px auto;
    width:70%;
  }
  .header{
    margin-bottom:30px;
    overflow:hidden;
  }
  .logo{
    float:left;
  }
  h1{
    font:normal 2.625em "adelle", Georgia, serif; /*42px/16px*/
  }
  .header h2{
    font:italic 1.5em "adelle", Georgia, serif; /*24px/16px*/ 
  }
  .contact{
    float:right;
    margin-top:55px;
  }
  .page{
    clear:both;
    overflow:hidden;
    width:100%;
  }
  .main{
    float:left;
    width:61.4634146%;  /*504px/820px*/
  }
  .page h2{
    font:normal 1.25em "adelle", Arial, sans-serif; /*20px/16px*/
    line-height:1.2em; /*24px/20px*/ 
  }
  .page p{
    font:normal .875em Arial, sans-serif; /*14px/16px*/ 
    line-height:1.5em;   
  }
  .aside{
    float:right;
    width:31.707317073170731707%;  /*260px/820px*/  
    margin-bottom:30px;
  }
  .aside h2{
    font:bold 1.375em "adelle", Arial, sans-serif; /*22px/16px*/
  }
  .footer{margin-top:30px;}
}

/* Large Screens
------------------------------------------------------------------------ */

@media screen and (min-width: 1152px) {
  #wrapper {
    width: 800px;
    }
  .aside {
    width:210px;
  }
}

