/*
  Reset
--------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

strong, b {
  font-weight: bold; }

i, em, blockquote {
  font-style: italic; }

ul {
  list-style: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: white; }

img {
  -ms-interpolation-mode: bicubic;
  background: transparent;
  border: 0; }

img, embed, object, video {
  max-width: 100%;
  height: inherit;
  _width: 100%; }

/*
  Variables
--------------------------------------------- */
/*
  Fonts
--------------------------------------------- */
@font-face {
  font-family: 'droid_serifregular';
  src: url("../fonts/droidserif-webfont.eot");
  src: url("../fonts/droidserif-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/droidserif-webfont.woff") format("woff"), url("../fonts/droidserif-webfont.ttf") format("truetype"), url("../fonts/droidserif-webfont.svg#droid_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato-light-webfont.eot");
  src: url("../fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light-webfont.woff") format("woff"), url("../fonts/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latohairline';
  src: url("../fonts/lato-hairline-webfont.eot");
  src: url("../fonts/lato-hairline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-hairline-webfont.woff") format("woff"), url("../fonts/lato-hairline-webfont.ttf") format("truetype"), url("../fonts/lato-hairline-webfont.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
Mixings
----------------------------------------------*/
/*
  Basic styles
--------------------------------------------- */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'droid_serifregular';
  text-rendering: 'optimizeLegibility';
  background-color: #f2f2f2;
  color: #333333; }

.container {
  margin: 0 auto;
  width: 45rem;
  min-height: 100%; }

header {
  padding: 3rem 0 1.5rem 0;
  font-family: 'latohairline';
  background-color: #ec6d20;
  color: #fff; }

.main {
  padding: 1.5rem 0;
  background-color: #f2f2f2;
  border-bottom: 2px solid #fad173; }

footer {
  padding-top: 1.5rem;
  font-size: .75rem;
  background-color: #fff;
  color: #c99a2c; }

h1 {
  font-size: 66px;
  font-size: 4.125rem;
  line-height: 1.09091;
  margin-bottom: 1.5rem;
  margin-bottom: 0; }

h2 {
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 1.26316;
  margin-bottom: 1.5rem;
  margin-bottom: 0; }

.hidden {
  display: none; }

p {
  margin-bottom: 1.5rem; }

.highlighted-container {
  text-align: center; }

a {
  text-decoration: none;
  color: #2083ec;
  border-bottom: 1px solid #87b8f0; }
  a.highlighted {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.33333;
    margin-bottom: 1.5rem; }
  a:hover {
    border-bottom: 2px solid #ec6d20; }

.main-list:before, .main-list:after {
  content: "";
  display: table; }

.main-list:after {
  clear: both; }

.main-list {
  *zoom: 1; }

.main-list li {
  float: left;
  overflow: hidden;
  width: 48%;
  margin-bottom: 1.5rem; }
  .main-list li:nth-child(odd) {
    margin-right: 4%; }
  .main-list li .icon-big {
    display: block;
    float: left;
    height: 5rem;
    width: 5rem;
    margin-right: 1.25rem;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .main-list li h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #ec6d20; }
  .main-list li p {
    font-size: .875rem;
    line-height: 1.14286rem;
    overflow: hidden;
    margin-bottom: 0; }
  .main-list li .span-icon {
    display: block;
    margin-top: 1.0625rem;
    font-size: 1.875rem;
    font-style: normal; }

.icon-ux {
  background: url(../img/icon-ux.png) no-repeat 1.125rem 1rem; }

.icon-rwd {
  background: url(../img/icon-rwd.png) no-repeat 0.9375rem 1.375rem; }

.icon-git {
  background: url(../img/icon-git.png) no-repeat 0.9375rem 0.9375rem; }

.icon-rails {
  background: url(../img/icon-rails.png) no-repeat 0.9375rem 1.25rem; }

/*
  PRINT STYLES
--------------------------------------------- */
@media print {
  body {
    background-color: #fff;
    color: #000; }

  header {
    background-color: #f2f2f2;
    color: #000; }

  .container {
    width: 95%; }

  .main {
    background-color: #fff;
    border-bottom: 2px solid #ccc; }

  footer {
    color: #000; }

  a {
    color: #000;
    border-bottom: 1px solid #000; } }
/*
  MAX-WIDTH: 64em 1024px
--------------------------------------------- */
@media screen and (max-width: 1024px) {
  .container {
    width: 70%; } }
/*
  MAX-WIDTH: 48em 768px
--------------------------------------------- */
@media screen and (max-width: 768px) {
  .container {
    width: 95%; }

  .main-list li {
    margin-bottom: 0; }
    .main-list li p {
      margin-bottom: 1.5rem; }
    .main-list li .icon-big {
      height: 4.375rem;
      width: 4.375rem;
      margin-right: 1rem; }
    .main-list li .span-icon {
      font-size: 1.625rem;
      margin-top: 1rem; }

  .icon-ux {
    background: url(../img/icon-ux-s.png) no-repeat 0.8125rem 1.25rem; }

  .icon-rwd {
    background: url(../img/icon-rwd-s.png) no-repeat 0.75rem 1.1875rem; }

  .icon-git {
    background: url(../img/icon-git-s.png) no-repeat 0.8125rem 0.8125rem; }

  .icon-rails {
    background: url(../img/icon-rails-s.png) no-repeat 0.8125rem 1.25rem; } }
/*
  MAX-WIDTH: 30rem 480px
--------------------------------------------- */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    line-height: 1.5; }

  header {
    padding: 1rem 0 1rem 0;
    font-family: 'latolight'; }

  h1 {
    font-size: 3.126rem; }

  h2 {
    font-size: 2rem; }

  .main-list li {
    width: 100%; }
    .main-list li p {
      margin-bottom: 2rem; }

  a.highlighted {
    font-family: 'latolight'; }

  .hidden {
    display: inline;
    font-size: 1rem;
    border: none;
    color: #fff; }
    .hidden:hover {
      border: none; } }
/*
  MAX-WIDTH: 20rem 320px 320/16
--------------------------------------------- */
@media screen and (max-width: 370px) {
  h1 {
    font-size: 2.5rem; }

  h2 {
    font-size: 1.75rem; }

  .visible {
    display: none; } }
